.itemPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.card-img-top {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 20px !important;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.quantity-selector {
  display: flex;
  align-items: center;
}

.quantity-input {
  text-align: center;
  height: 40px;
  width: 120px;
  font-size: large;
}

.quantity-arrow {
  cursor: pointer;
  color: #3bb77e;
  background-color: transparent;
  border: none;
}

.up-arrow::before {
  content: "▲";
}

.down-arrow::before {
  content: "▼";
}

.add-to-cart-btn {
  background-color: lightgreen !important;
  color: green !important;
}

.add-to-cart-btn:hover {
  background-color: green !important;
  color: lightgreen !important;
}
